<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
    <ion-list>
        <ion-list-header style="padding: 10px;">
          Number of Balls
        </ion-list-header>
        <ion-item>
            <ion-range pin="true" value="5" min="2" max="8" [(ngModel)]="difficultyValue" (ngModelChange)="difficultyChanged()"></ion-range>
            <div slot="end">{{difficultyValue}}</div>
          </ion-item>
      </ion-list>
    
</ion-content>
